In [1]:
import pandas as pd
import os

In [10]:
pwd= os.getcwd()
file_path=os.path.join(pwd, 'sample-1.csv')
file_path

'c:\\Users\\Admin\\Videos\\work\\Portfolio\\10.pyspark\\sample-1.csv'

In [19]:
file_path_2=os.path.join(pwd, 'sample.xlsx')
file_path_2

'c:\\Users\\Admin\\Videos\\work\\Portfolio\\10.pyspark\\sample.xlsx'

In [36]:
pd.read_csv(file_path)

    Name   Age
0    ram    10
1  shyam    12
2  sunita   16

# Spark session

In [13]:
from pyspark.sql import SparkSession

In [14]:
spark = SparkSession.builder.appName('Practice').getOrCreate()

In [15]:
spark

In [24]:
#df_spark= spark.read.excel()
df_spark= spark.read.csv(file_path)

In [28]:
df_spark
type(df_spark)

pyspark.sql.dataframe.DataFrame

In [26]:
df_spark.show()

+------+---+
|   _c0|_c1|
+------+---+
| Name |Age|
|  ram | 10|
|shyam | 12|
|sunita| 16|
+------+---+

In [29]:
df_spark=spark.read.option('header', True).csv(file_path)

In [35]:
#df_spark.show()
#type(df_spark)
#df_spark.head(3)
df_spark.printSchema()

root
 |-- Name : string (nullable = true)
 |-- Age: string (nullable = true)