In this video we will cover 
<uo>
<li>Pyspark dataframe</li>
<li>Reading the dataset</li>
<li>checking the Datatypes of the column(schema)</li>
<li>Selecting columns & Indexing</li>
<li>Check describe option similar to pandas </li>
<li>Adding col</li>
<li>Dropping Col</li>

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('DataFrame').getOrCreate()

In [3]:
spark

#read data frame and check schema in 2 ways

In [4]:
import os

In [6]:
pwd = os.getcwd()
file_path= os.path.join(pwd, 'sample-1.csv')
file_path

'c:\\Users\\Admin\\Videos\\work\\Portfolio\\10.pyspark\\sample-1.csv'

In [14]:
#df_pyspark = spark.read.option('header', 'True').csv(file_path)
#here it will take all col as string 
df_pyspark = spark.read.option('header', 'True').csv(file_path, inferSchema = True)
df_pyspark.printSchema()

root
 |-- Name : string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- experience : integer (nullable = true)

In [50]:
df_pyspark = spark.read.csv(file_path, header=True, inferSchema=True)
df_pyspark.show()
df_pyspark.printSchema()

+------+---+-----------+
| Name |Age|experience |
+------+---+-----------+
|  ram | 10|          2|
|shyam | 12|          1|
|sunita| 16|          1|
+------+---+-----------+

root
 |-- Name : string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- experience : integer (nullable = true)

#selecring col and index

In [19]:
df_pyspark.head(3)

[Row(Name ='ram ', Age=10, experience =2),
 Row(Name ='shyam ', Age=12, experience =1),
 Row(Name ='sunita', Age=16, experience =1)]

In [20]:
df_pyspark.show()

+------+---+-----------+
| Name |Age|experience |
+------+---+-----------+
|  ram | 10|          2|
|shyam | 12|          1|
|sunita| 16|          1|
+------+---+-----------+

In [23]:
df_pyspark.select('Name ')

DataFrame[Name : string]

In [24]:
df_pyspark.select('Name ').show()

+------+
| Name |
+------+
|  ram |
|shyam |
|sunita|
+------+

In [25]:
type(df_pyspark.select('Name '))

pyspark.sql.dataframe.DataFrame

In [29]:
df_pyspark.select(['Name ', 'experience '])

DataFrame[Name : string, experience : int]

In [30]:
df_pyspark.select(['Name ', 'experience ']).show()

+------+-----------+
| Name |experience |
+------+-----------+
|  ram |          2|
|shyam |          1|
|sunita|          1|
+------+-----------+

In [31]:
df_pyspark['Name ']

Column<'Name '>

In [32]:
df_pyspark.dtypes

[('Name ', 'string'), ('Age', 'int'), ('experience ', 'int')]

In [34]:
df_pyspark.describe()

DataFrame[summary: string, Name : string, Age: string, experience : string]

In [35]:
df_pyspark.describe().show()

+-------+------+------------------+------------------+
|summary| Name |               Age|       experience |
+-------+------+------------------+------------------+
|  count|     3|                 3|                 3|
|   mean|  null|12.666666666666666|1.3333333333333333|
| stddev|  null| 3.055050463303893|0.5773502691896258|
|    min|  ram |                10|                 1|
|    max|sunita|                16|                 2|
+-------+------+------------------+------------------+

#adding col

In [51]:
df_pyspark = df_pyspark.withColumn('experience after 2 years', df_pyspark['experience '] +2)

In [39]:
df_pyspark

DataFrame[Name : string, Age: int, experience : int, experience after 2 years: int]

In [52]:
df_pyspark.show()

+------+---+-----------+------------------------+
| Name |Age|experience |experience after 2 years|
+------+---+-----------+------------------------+
|  ram | 10|          2|                       4|
|shyam | 12|          1|                       3|
|sunita| 16|          1|                       3|
+------+---+-----------+------------------------+

#drop col

In [53]:
df_pyspark = df_pyspark.drop('experience after 2 years')

In [54]:
df_pyspark.show()

+------+---+-----------+
| Name |Age|experience |
+------+---+-----------+
|  ram | 10|          2|
|shyam | 12|          1|
|sunita| 16|          1|
+------+---+-----------+

#rename col

In [58]:
df_pyspark = df_pyspark.withColumnRenamed("Name ", "new name")

In [59]:
df_pyspark.show()

+--------+---+-----------+
|new name|Age|experience |
+--------+---+-----------+
|    ram | 10|          2|
|  shyam | 12|          1|
|  sunita| 16|          1|
+--------+---+-----------+