# Pyspark Dataframes 
<ul>
<li>Filter operations</li>
<li>&, |, == </li>
<li>~</li>
</ul>

In [1]:
import os

In [2]:
pwd = os.getcwd()
file_path= os.path.join(pwd, 'sample-2.csv')
file_path

'c:\\Users\\Admin\\Videos\\work\\Portfolio\\10.pyspark\\sample-2.csv'

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName('L3').getOrCreate()

In [5]:
spark

In [6]:
df_spark = spark.read.csv(file_path, header=True, inferSchema=True)

In [7]:
df_spark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- experience: integer (nullable = true)
 |-- salary: integer (nullable = true)

In [8]:
df_spark.show()

+------+---+----------+------+
|  Name|Age|experience|salary|
+------+---+----------+------+
|   ram| 10|         2|   100|
| shyam| 12|         1|   150|
|sunita| 16|         1|   120|
| krish| 11|         1|   100|
| radha| 15|         2|   180|
| sudha| 13|         3|   160|
+------+---+----------+------+

# filter operations

In [10]:
#salary <= 100

df_spark.filter('salary<=150').show()

+------+---+----------+------+
|  Name|Age|experience|salary|
+------+---+----------+------+
|   ram| 10|         2|   100|
| shyam| 12|         1|   150|
|sunita| 16|         1|   120|
| krish| 11|         1|   100|
+------+---+----------+------+

In [12]:
df_spark.filter(df_spark['salary']<=150).show()

+------+---+----------+------+
|  Name|Age|experience|salary|
+------+---+----------+------+
|   ram| 10|         2|   100|
| shyam| 12|         1|   150|
|sunita| 16|         1|   120|
| krish| 11|         1|   100|
+------+---+----------+------+

In [11]:
df_spark.filter('salary<=150').select(['Name', 'Age']).show()

+------+---+
|  Name|Age|
+------+---+
|   ram| 10|
| shyam| 12|
|sunita| 16|
| krish| 11|
+------+---+

In [15]:
df_spark.filter((df_spark['salary']<=150 ) & 
                (df_spark['Experience']==1 )).show()

+------+---+----------+------+
|  Name|Age|experience|salary|
+------+---+----------+------+
| shyam| 12|         1|   150|
|sunita| 16|         1|   120|
| krish| 11|         1|   100|
+------+---+----------+------+

In [16]:
df_spark.filter((df_spark['salary']<=150 ) | 
                (df_spark['Experience']==2 )).show()

+------+---+----------+------+
|  Name|Age|experience|salary|
+------+---+----------+------+
|   ram| 10|         2|   100|
| shyam| 12|         1|   150|
|sunita| 16|         1|   120|
| krish| 11|         1|   100|
| radha| 15|         2|   180|
+------+---+----------+------+

In [18]:
df_spark.filter(~(df_spark['salary']<=100)).show()

+------+---+----------+------+
|  Name|Age|experience|salary|
+------+---+----------+------+
| shyam| 12|         1|   150|
|sunita| 16|         1|   120|
| radha| 15|         2|   180|
| sudha| 13|         3|   160|
+------+---+----------+------+