# Pyspark Groupby & Aggrrigate funtion

In [1]:
import os

In [2]:
pwd = os.getcwd()
file_path= os.path.join(pwd, 'sample-3.csv')
file_path

'c:\\Users\\Admin\\Videos\\work\\Portfolio\\10.pyspark\\sample-3.csv'

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName('L4').getOrCreate()

In [5]:
spark

In [9]:
df_spark = spark.read.csv(file_path, header=True, inferSchema=True)

In [10]:
df_spark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Dpartment: string (nullable = true)
 |-- salary: integer (nullable = true)

In [11]:
df_spark.show()

+------+------------+------+
|  Name|   Dpartment|salary|
+------+------------+------+
|   ram|          IT|   100|
|   ram|       sales|   150|
| shyam|  Marketing |   150|
| shyam|Data science|   120|
|sunita|       sales|   100|
|sunita|Data science|   120|
| krish|    Big data|   100|
| krish|Data science|   160|
| radha|       sales|   180|
| radha|Data science|   100|
| sudha|         IOT|   160|
| sudha|          IT|   100|
+------+------------+------+

#groupby function

In [12]:
df_spark.groupBy('Name')

In [14]:
df_spark.groupBy('Name').sum().show()

+------+-----------+
|  Name|sum(salary)|
+------+-----------+
| radha|        280|
|sunita|        220|
| sudha|        260|
|   ram|        250|
| krish|        260|
| shyam|        270|
+------+-----------+

In [18]:
df_spark.groupBy('Dpartment').sum().show()

+------------+-----------+
|   Dpartment|sum(salary)|
+------------+-----------+
|         IOT|        160|
|       sales|        430|
|Data science|        500|
|  Marketing |        150|
|          IT|        200|
|    Big data|        100|
+------------+-----------+

In [19]:
df_spark.groupBy('Dpartment').mean().show()

+------------+------------------+
|   Dpartment|       avg(salary)|
+------------+------------------+
|         IOT|             160.0|
|       sales|143.33333333333334|
|Data science|             125.0|
|  Marketing |             150.0|
|          IT|             100.0|
|    Big data|             100.0|
+------------+------------------+

In [20]:
df_spark.groupBy('Dpartment').count().show()

+------------+-----+
|   Dpartment|count|
+------------+-----+
|         IOT|    1|
|       sales|    3|
|Data science|    4|
|  Marketing |    1|
|          IT|    2|
|    Big data|    1|
+------------+-----+

Direct agg function

In [21]:
df_spark.agg({'salary': 'sum'}).show()

+-----------+
|sum(salary)|
+-----------+
|       1540|
+-----------+

In [22]:
df_spark.groupBy('Name').sum().show()

+------+-----------+
|  Name|sum(salary)|
+------+-----------+
| radha|        280|
|sunita|        220|
| sudha|        260|
|   ram|        250|
| krish|        260|
| shyam|        270|
+------+-----------+